* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 369;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navbar h1 {
    color: #FD6569;
}

.navbar-links {
    display: flex;
    column-gap: 30px;
}

.navbar-links a {
    padding: 5px;
    color: rgb(36, 36, 206);
    text-decoration: none;
}

.navbar-links a:hover {
    color: #FD6569;
}

.navbar-menu-toggle {
    display: none;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

/* side-navbar */
.side-navbar {
    background-color: #FD6569;
    position: absolute;
    padding: 5px;
    left: 0;
    width: max-content;
    color: white;
    height: 100%;
}

.side-navbar-link a {
    color: white;
    height: 100%;
    margin: 10px;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
}

.close:hover,
.side-navbar-link a:hover {
    color: rgb(36, 36, 206);
}

.side-navbar-link {
    margin-bottom: 30px;
}

.bottom-sidebar-name {
    position: fixed;
    text-align: center;
    bottom: 10px;
}

.bottom-sidebar-name:hover {
    color: crimson;

}

/*navbar - Media Query*/
@media screen and (max-width: 584px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }
}